<h1>Looking for a web developer position !!</h1>
<p>In the 80s, I started a career in information technology that led me from an Assembler 370 programmer to senior IT director of a major food retailer.
After more than 30 years of career ... and two years of retirement, I decided to retrain myself as a web developer.
The following portfolio gives you a glimpse of where I am from.</p>
