<div class="row">
	<div class="col-md-5">
	<h1>aljcdev</h1>
	<p>Montreal, QC</p>
	<p><a href="mailto:aljcdev@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>	
	</div>

	<div class="col-md-7">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d201603.6278248733!2d-73.97335398701776!3d45.49963699982172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc939067791ff15%3A0xe761483a60e37e18!2sCommunaut%C3%A9%20m%C3%A9tropolitaine%20de%20Montr%C3%A9al%2C%20QC!5e0!3m2!1sfr!2sca!4v1575917772667!5m2!1sfr!2sca" width="500" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>	
	</div>
</div>